<div class="row">
<table class="table table-dark table-hover border-0 rounded">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Full name</th>
        <th scope="col">Username</th>
        <th scope="col">Role</th>
        <th scope="col">Sites maintained</th>
        <th scope="col">Locked out?</th>
        <th scope="col">Disabled?</th>
        <th scope="col">Date created</th>
        <th scope="col" class="d-flex justify-content-between align-items-center">Action<span><a href="{% url 'create_new_user' %}" class="btn btn-primary">Create a new user</a></span></th>
      </tr>
    </thead>
    <tbody>
    
    {% if users_top_5 %}
        {% for user in users_top_5 %}
            {% include 'users_table_body.html' %}
        {% endfor %}
    {% else %}
        {% for user in users %}
            {% include 'users_table_body.html' %}
        {% endfor %}
    {% endif %}
    
    </tbody>
  </table>
</div>