{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags for BootStrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page_name }} - HAProxy Manager</title>
    
    <!-- Own CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <!-- CHART JS Library -->
    <script src="{% static 'js/chart.js' %}"></script>
</head>

<body class="d-flex flex-column min-vh-100">
    {% include "header.html" %}
    <div class="p-3" style="margin-left: 2%; margin-right: 2%;">
    {% block content %}
    {% endblock content %}
    </div>
    {% include "footer.html" %}
</body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
</html>